# versioneer
include versioneer.py
include msmtools/_version.py

recursive-include msmtools testfiles/* tests/*

# setup stuff
include setup_util.py

#include cython files and sources of extensions (incl. cython)
recursive-include msmtools *.pyx *.c *.h


include README*
include LICENSE*

include pyproject.toml

