include versioneer.py
include deeptime/_version.py
include LICENSE.txt
include pyproject.toml
include CMakeLists.txt

# sources of extensions (incl. cython)
recursive-include deeptime *.pyx *.h *.hpp *.c *.cpp CMakeLists.txt

prune tests
prune docs
prune *.egg-info
prune .github
prune _skbuild
prune examples
prune cmake-build-*
