jobs:
- job:
  displayName: Win
  pool:
    vmImage: "windows2019"

  strategy:
    matrix:
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'

    maxParallel: 10

  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'

  - template: setup+build+test.yml
